body {
    background-color: lavender;
    font-family:Arial, Helvetica, sans-serif;
    font-size:smaller;
}

    h1 {
        text-align: center;
        color:rgb(81, 9, 81) ;
        font-family:Georgia;
        font-size: x-large;
    }
    h2{
        text-align: left;
        color:rgb(82, 7, 97);
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: medium;
    }
    h3{
        text-align:left;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: small;
        color:rgb(88, 3, 130);
    }