body {
    background-color: lavender;
    font-family:Arial, Helvetica, sans-serif;
    margin:40px;
    font-size:smaller;
}

    h1 {
        text-align: center;
        color:rgb(86, 8, 112) ;
        font-family:Georgia;
        font-size: x-large;
    }
    h1:hover{
        color:rgb(86, 8, 112);
        text-decoration: overline underline;
        text-underline-offset: 4 px;
    }
    h2{
        text-align: left;
        color:rgb(82, 7, 97);
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: medium;
    }
    h3{
        text-align:center;
        font-style: italic;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: small;
        color:rgb(88, 3, 130);
    }
    .about{
        display:flex;
        flex-wrap:wrap;
        margin-right: 100px;
        margin-left: 100px;
        justify-content: center;
    }
    .about img {
        width: 150px;
        height: 200px;
        border-radius: 25%;
        border: 2px solid rgb(67, 12, 104);
        }

    .about p {
        color: rgb(17, 62, 146);
        width:40%;
        text-align: center;
        margin: auto;
        line-height: 100%;

    }
    
    .skills p{

        light height: 125
        color: rgb(17, 62, 146);
        text-align:center;

    }
    .projects{
      display:flex;
      flex-wrap:wrap;  
    }
    .project{
        width:30%;
        margin: 10px;
        padding:20px 10px;
        background:rgb(244, 195, 221);
        border-radius: 25%;
    }
    .project img{
        width: 300px;
        height:300px;
        margin: 10px;
        border: 1px solid rgba(240, 99, 174, 0.801) ;
        display: block;
        margin:auto;
    }
    .project img:hover{
        border: 2px solid rgba(240, 99, 174, 0.801);                
    }

    a { /* change the appearance of ALL links */
        text-decoration: none;
        color: rgba(142, 22, 166, 0.838);
        }

    .project p { /* change the appearance of paragraph tags inside .project divs */
        text-align: center;
        color:rgb(114, 20, 70);
        margin: 15px;
     }
