body {
    background: [lavender];
    font-family: Helvetica;
}

    h1 {
        color: [darkorchid];
        text-align: center;
        font-family:Georgia;
        font-size: x-large;
    }
    h2{
        color:[purple];
        text-align: left;
        font-size: medium;
    }